<!DOCTYPE html>
<html>
<head>
	<title>Đăng nhập</title>
	<link rel="stylesheet" type="text/css" href="css/styleDN.css">
	
	
	
	
</head>
<body>
	<form method="POST" action="/">
		<h1>Đăng nhập</h1>
		<h3><%=Note%></h3>
		<input placeholder="Tên đăng nhập" type="text" required="" name="User">
		<input placeholder="Mật khẩu" type="password" required="" name="Pass">
		<button>Đăng nhập</button>
	</form>
</body>
</html>
